/* Generali */
#ajax_chat{ 
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	width: 284px; 
	position: fixed; 
	bottom: 0; 
	right: 10%; 
	font-size: 13px;
	line-height: 18px;
	color: #333;
	z-index: 9999;	
}
#ajax_chat button{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-size: 14px;
	line-height: 18px;	
}
#ajax_chat button:focus {
	outline:0;
}

/* Bottone apertura */
#ajax_chat_btn_open{ 
	float: right; 
	position: relative; 
	width: 170px; 
	color: #FFF; 
	border: 0; 
	background-color: #48587d; 
	padding: 2px 0; 
}
#ajax_chat_btn_open .fas{ 
	margin-right: 15px; 
	font-size: 25px; 
	position: relative;
	top: 2px;
}
#ac_online_text{ 
	line-height: 25px; 
}

/* Finestra chat */
#ajax_chat_window{
	display: none;
	background-color: #FFF;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	margin-bottom: 10px;
}
#ajax_chat_top{ 
	position: relative;
	height: 32px; 
	background-color: #f5f6f7; 
}
#ajax_chat_btn_close{
	position: absolute;
	top: 6px;
	right: 12px;
	padding: 2px 5px;	
	border: 0;
	background-color: transparent;
	color: #333;
	opacity: .7;
}
#ajax_chat_btn_close:hover{
	opacity: 1;
}

/* Lista utenti */
#ajax_chat_users{	
	height: 260px;
	overflow: auto;
}
#ajax_chat_users ul{
	margin: 0;
	list-style-type: none;
}
#ajax_chat_users .ac_user_row{
	border-bottom: 1px solid rgb(230, 230, 230);
}
#ajax_chat_users .ac_user_row .ac_open_chat{
	display: block;
	padding: 7px 35px 7px 15px;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#ajax_chat_users .ac_user_row .ac_open_chat:hover{
	background-color: #dddfe2;
}
#ajax_chat_users .ac_user_row .ac_open_chat .ac_new_messages_user{
	position: absolute;
	top: 8px;
	right: 15px;
	font-size: 12px; 
	padding: 0 3px; 
	background-color: #fa3e3e; 
	color: #FFF; 
	border-radius: 2px;
}
#ajax_chat .ac_logged{
	display: inline-block;
	border-radius: 50%;  
	vertical-align: middle;
    height: 6px;
    margin-left: 4px;
    width: 6px; 
	margin-right: 15px;
	position: relative; 
	top: -2px;
}
#ajax_chat .ac_logged_1{
	background-color: green; 
}
#ajax_chat .ac_logged_0{ 
	background-color: red; 
}
#ajax_chat .ac_error_message{ 
	color: red; 
	clear: both;
}
#ajax_chat_no_uesers{
	padding: 15px
}

/* Lista messaggi */
#ajax_chat_messages{
	display: none;
}
#ajax_chat_new_messages{ 
	display: none; 
	position: absolute; 
	left: 40px; 
	top:5px; 
	font-size: 12px; 
	line-height: 18px;
	padding: 0 3px; 
	background-color: #fa3e3e; 
	color: #FFF; 
	border-radius: 2px;
}
#ajax_chat_name{
	position: absolute;
	top: 0;
	left: 41px;
	width: 200px;
	height: 32px;
	font-weight: bold;
	line-height: 32px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#ajax_chat_btn_back{
	position: absolute;
	top: 6px;
	left: 12px;
	padding: 2px 5px;	
	border: 0;
	background-color: transparent;
	color: #333;
	opacity: .7;
}
#ajax_chat_btn_back:hover{
	opacity: 1;
}
#ajax_chat_text{
	height: 224px;
	overflow: auto;
	padding: 0 10px;
}
#ajax_chat_text .ac_message{
	border-radius: 12px;	
	padding: 5px 8px;
	max-width: 70%;
	word-wrap: break-word;
}
#ajax_chat_text .ac_message:last-child{
	margin-bottom: 10px;
}
#ajax_chat_text .ac_message_recived_0{	
	background: #d2e3fc;
	color: #174ea6;
	float: right;
	clear: both;
}
#ajax_chat_text .ac_message_recived_1{	
	background: #f1f3f4;
	color: #444950;
	float: left;
	clear: both;
}
#ajax_chat_text .ac_message_date{
	font-size: 10px;
	/*color:#90949c;*/
	color:#BCBCBC;
	text-align: center;
	clear: both;
	padding: 3px 0;
}
/*
#ajax_chat_text .ac_message_date_recived_0{
	float: right;
	clear: both;
}
#ajax_chat_text .ac_message_date_recived_1{
	float: left;
	clear: both;
}
*/
#ajax_chat_form{
	margin-bottom: 0;
	border-top: 1px solid #e5e5e5;
}
#ajax_chat_input{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
	width: 100%;
	border: 0;
	border-radius: 0;
	line-height: 35px;
	font-size: 13px;
	color: #333;
	height: 35px;
	padding: 0 10px;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.loading #ajax_chat_input{
	background-color: #f5f6f7;
}

/* Mobile */
@media (max-width: 767px){
	
	#ajax_chat{ 
		width: 100%; 
		right: 0; 
	}
	
	#ajax_chat_window{
		margin-bottom: 0;
	}
	
	#ajax_chat_text{
		height: 160px;	
	}
	
}

